.landlordDashboardWrapper{
    
    height: 100vh;
}
.addHouseWrapper{
    float: left;
    width: 33%;

    height: 100vh;
}
.myHouses{
    float: left;
    width: 33%;

    height: 100vh;
}
.activeReservations{
    float: left;
    width: 33%;

    height: 100vh;
}
.welcomeMessage{
  
    height: 10vh;
    margin-top: 40px;
    
}
.addHouse{
   
    align-items: center;
    margin-top: 200px;
}

.addHouse input{
    margin-left: 230px;
    text-align: center;
}

.houseId{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;
}

.houseId2{
    float: left;
    width: 33%;
    
    height: 100%;
}

.houseId2 h3{
    font-size: 25px;
     margin-top: 12px;
}


.eno{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;
}

.eno h2{
    margin-left: 9px;
    margin-top: 10px;
}

.dve h2{
    margin-top: 10px;
}

.tri h2 {
    margin-left: 15px;
}

.dve{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;

}

.deleteHouseWrapper{
    height: 30vh;
    margin-top: 20px;
    float: left;
    width: 70%;
    margin-left: 125px;
}

.deleteHouseWrapper h2{
    margin-left: 130px;
    margin-top: 50px;
}

.deleteHouseWrapper input{
    margin-left: 110px;
    text-align: center;
}

.buttoniera{
    background-color: rgb(78, 78, 248);
    margin-left: 115px;
    width: 220px;
    margin-top: 15px;
    border-radius: 8px ;
   
}


.tri{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;
}


.houseAddress2 h3{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 12px;
}

.housePrice2 h3{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 12px;
}

.houseAddress2{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;
}


.housePrice2{
    float: left;
    width: 34%;
    border: 1px solid black;
    height: 100%; 
    padding-right: 20px;
}

.houseId h3{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 12px;
}

.houseAddress h3{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 12px;
}

.housePrice h3{
    font-size: 24px;
    margin-left: 20px;
    margin-top: 12px;
}

.houseAddress{
    float: left;
    width: 33%;
    border: 1px solid black;
    height: 100%;
}


.housePrice{
    float: left;
    width: 34%;
    border: 1px solid black;
    height: 100%; 
    padding-right: 20px;
}


.buton4e{
    background-color: rgb(78, 78, 248);
    margin-left: 140px;
    height: 60px;
    border-radius: 8px;
    width: 400px;
    margin-top: 50px;
    font-size: 30px;
    padding-top:5px ;
}

.addHouse h4 {
    margin-left: 72px;
}


.activeReservation{
 
    background-color: rgb(127, 169, 113);
    height: 10vh;
    margin-top: 57px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 4px;
}

.houseProposal{
  
    background-color: rgb(182, 170, 155);
    height: 10vh;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 4px;
}

.newHousesWrapper{
    border: 1px solid rgb(120, 118, 118);
    background-color: rgb(231, 226, 219);
    height: 90vh;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.newHousesWrapper h1{
    margin-left: 220px;
}

.welcomeMessage h1{
    margin-left: 170px;
    font-size: 45px;
}

.welcomeMessage h3{
    margin-left: 300px;
    margin-top: 2
    0px;
}
.activeReservations h3{
    margin-left: 300px;
    margin-top: 20px;
}

.loggout-button{
    background-color: rgb(252, 132, 132);
    border: 1px solid beige;
    border-radius: 10px;
    width: 400px;
    margin-left: 200px;
    margin-top: 30px;
    font-size: 25px;
    color: black;
    padding-top: 5px;
}